.animation-delay-500 {
  animation-delay: 0.5s;
}
.animation-delay-800 {
  animation-delay: 0.8s;
}
.animation-delay-1000 {
  animation-delay: 1s;
}
.animation-delay-1200 {
  animation-delay: 1.2s;
}
